{% extends 'base.html' %}


{% block title %} | {{ route.title }} {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ route.title }}</h1>
          <p class="lead">
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'pages:index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'bookings:routes' %}">Routes</a>
          </li>
          <li class="breadcrumb-item active">{{ route.title }} {{ route.time_of_departure }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

      <section id="about" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <h3 class="mb-3">MAKE A BOOKING</h3>
            <p><b>ORIGIN</b>: {{ route.origin }}</p>
            <p><b>DESTINATION</b>: {{ route.destination }}</p>
            <p><b>TIME OF DEPARTURE:</b> {{ route.time_of_departure }}</p>
            <p><b>DATE OF TRAVEL:</b> {{ route.date_of_travel }}</p>
            <p><b>BUS TYPE:</b>  {{ route.bus_type }}</p>


          <form action="{% url 'bookings:make_a_booking' route.id %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}

            <!-- Hidden Values -->
            <input type="hidden" name="customer_email" value="{{ user.email_address }}">
            <input type="hidden" name="route_id" value="{{ route.id }}">
            <input type="hidden" name="bus_id" value="{{ route.bus_type_id }}">
            <input type="hidden" id="price" name="price" value="{{ route.price }}">
            <input type="hidden" id="date_of_booking" name="date_of_booking">
            <input type="hidden" id="time" name="time" value="CurrentDate">


            <div class="form-group">
              <label for="number_of_tickets" class="col-form-label">Number of Tickets:</label>
              <input type="number" name="number_of_tickets" id="number_of_tickets" min="0" class="form-control" required>
            </div>
            
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" placeholder="Enter your full name.." class="form-control" {% if user.is_authenticated %} value="{{ user.full_name }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" placeholder="Enter your email address.." class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="mobile_number" class="col-form-label">Mobile Number:</label>
              <input type="text" name="mobile_number" placeholder="Enter your safaricom mobile number.." class="form-control" {% if user.is_authenticated %} value="{{ user.mobile_number }}" {% endif %} required>
            </div>
            <hr>
            <h6>TOTAL AMOUNT DUE: Ksh. <span id="total_amount_paid">1</span></h6>
            {% if user.is_authenticated  %}
            <input type="submit" value="MAKE PAYMENT" class="btn btn-block btn-primary">
            {% else %}

            <div class="text-center">
            <a href="" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalLRForm">MAKE PAYMENT</a>
            </div>
            {% endif %}
          </form>


      </div>
    </div>
  </div>
  </section>


<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
              <form action="{% url 'accounts:loginmodal' route.id %}" method="POST">
                {% csrf_token %}
                <i class="fas fa-user prefix"></i>
                    <input type="text" name="email" id="modalLRInput10" class="form-control form-control-sm validate" placeholder="Email">
                    <label for="modalLRInput10"></label>
                  </div>

                <div class="md-form form-sm mb-4">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" name="password" id="modalLRInput11" class="form-control form-control-sm validate" placeholder="Password">
                    <label for="modalLRInput11"></label>
                  </div>
                  
                <div class="text-center mt-2">
                  <button class="btn btn-info">Login <i class="fas fa-sign-in ml-1"></i></button>
                  </div>
                </div>

              </form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body--> 
            <div class="modal-body">
              <form action="{% url 'accounts:registermodal' route.id  %}" method="POST">
                  {% csrf_token %}
                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" name="full_name" id="modalLRInput12" class="form-control form-control-sm validate" placeholder="Name" >
                    <label for="modalLRInput12"> </label>
                  </div>

                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="email" name="email" id="modalLRInput17" class="form-control form-control-sm validate" placeholder="Email Address">
                    <label for="modalLRInput12"></label>
                  </div>

                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-mobile prefix"></i>
                    <input type="text" name="mobile_number" id="modalLRInput16" class="form-control form-control-sm validate" placeholder="Mobile Number">
                    <label for="modalLRInput12"></label>
                  </div>

                  
                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" name="password" id="modalLRInput18" class="form-control form-control-sm validate" placeholder="Password">
                    <label for="modalLRInput13"></label>
                  </div>

                  <div class="md-form form-sm mb-4">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" name="password2" id="modalLRInput19" class="form-control form-control-sm validate" placeholder="Confirm Password">
                    <label for="modalLRInput14"></label>
                  </div>
              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Register <i class="fas fa-sign-in ml-1"></i></button>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->



    
{% endblock %}